@import "stylesheet";


.main-container {
  padding: .5em .25em 0 .25em;


  .card-list {
    @include flex-container(row, flex-start, flex-start);


    .card-container {
      @include flex-container(column, center, center);
      @include card(20em);


      .card-header {
        padding: 0 .5em;
        margin: .5em;
      }

      .card-item-list {
        @include flex-container(column, center, center);
        width: 100%;

        .card-item {
          @include card-item;

          .item-header {
            @include hidden-text;
            font-weight: 700;
            font-size: medium;
            flex: 1 0 30%;
            margin: 0 !important;
            padding: 1em;

          }

          .item-actions-container {
            margin-right: .5em;

            button {
              flex: 1 0 10%;
              @include common-icon-button;

            }

            button#edit_btn {
              @include img-button("../assets/pen.svg")
            }

            button#delete_btn {
              @include img-button("../assets/delete.svg")
            }


          }


        }

      }

      .card-item-form {
        @include flex-container(row, space-between, flex-end);
        width: 95%;
        padding: 0 1em 1em 0em;
        position: relative;


        button {
          @include common-icon-button("+");
        }


      }

      .delete-card-button {

        button {
          @include common-button($color-red, 1px);
          padding: .25em 1em;
        }
      }
    }

  }

  .add-card-button {
    @include common-icon-button("+");
    border-radius: 100%;
    width: 3em;
    height: 3em;
    background-color: $secondary-bg;
    border: none;
    align-self: start;
  }

}
