@import "stylesheet";


.main-container {
  padding: .5em .25em 0 .25em;


  .card-list {
    @include flex-container(row, flex-start, center);


    .card-container {
      @include flex-container(column, center, center);
      @include card(20em);

      .card-header {
        padding: 0 !important;
        margin: .5em;
      }

      .card-item-list {
        @include flex-container(row, center, center);
        padding: 0 !important;
        margin: 0 .25em !important;
        width: 100%;

        .card-item {
          @include card-item;

          .card-item-header {
            font-weight: 500;
            font-size: large;
            flex: 1 0 auto;
            margin: 0 !important;
            padding: .5em;
            text-overflow-ellipsis: true;
          }

          .item-actions-container {

            .item-actions {
              flex: 1 0 10%;
            }

            .item-actions, button {
              @include common-icon-button;
            }
          }


        }
      }


    }

  }

  .add-card-button {
    @include common-icon-button;
    border-radius: 100%;
    width: 3em;
    height: 3em;
    background-color: $secondary-bg;
    border: none;
    align-self: start;
  }

}
