$main-bg: #113753;
$secondary-bg: #05b4ee;
$card-bg: #d9def9;
$main-font: 'Montserrat', sans-serif;
$color-black: #000;
$color-red: #f00;
$color-white: #fff;


@mixin flex-container($direction, $justify : center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  padding: 0 .5em;
  gap: 1em;
}

@mixin card($max-width) {
  width: $max-width;
  height: 100%;
  padding: .5em;
  border-radius: 4px;
  background-color: $card-bg;
}

@mixin card-item {
  @include flex-container(row, space-between, center);
  width: 100%;
  margin: 0 !important;
  background-color: $color-white;
  border-radius: 4px;
}


@mixin common-icon-button() {
  background-color: transparent;
  border: none;
  width: 2em;
  height: 2em;
  cursor: pointer;
}

@mixin common-button($border-color, $border-width) {
  @include common-icon-button;
  padding: .25em;
  border: $border-color solid $border-width;
  border-radius: 2px;
  width: 100%;
  font-weight: 500;

}
